<!DOCTYPE html>
<html>
<head>
</head>
<body>
<% include includes/header.ejs %>
<div class="jumbotron">
  <div class="container">
    <h1>Search for a user</h1>
  </div>
</div>
<div class="col-lg-4">
		<form action="/search" method="post" class="input-group">
		  <input type='text' id='searchauto' name="searchbar" list='names' class="form-control">
      <span class="input-group-btn">
		  <input type='submit' value='Submit' class="btn btn-default">
			</span>
		</form>
    <datalist id="names"></datalist>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    let callOut = 0;
    let responseArr = [];
				$("#searchauto").keyup(function(){
					let searchbar = $(this).val();

        if((Date.now() - callOut) >= 3000 ) {
					$.post('/ajax', {searchbar:searchbar}, function(response, status){
            responseArr = response;
            callOut = Date.now();
          });
        }

        $('#names').empty();
            for(let i = 0; i < responseArr.length; i++){
                $('#names').append("<option value='" + responseArr[i].firstname + " " + responseArr[i].lastname + "'></option>")
						}
		  })
		})



      </script>
    </body>
  </html>
