<% include includes/header.ejs %>
<div class="jumbotron">
  <div class="container">
    <h1>Your search results:</h1>
  </div>
</div>

<% let foundResult = false; %>
  <% for (let i = 0; i < users.length; i++) { %>
    <% if(data.searchbar.toLowerCase() == users[i].firstname.toLowerCase() || data.searchbar.toLowerCase() == users[i].lastname.toLowerCase()){ %>
      <p class="list-group-item"> <%= users[i].firstname + ' ' + users[i].lastname %>
      <br /> <%= users[i].email %> </p>
      <% foundResult = true; %>
    <% } %>
  <% } %>

  <% if(!foundResult){%>
      <p class="list-group-item"> <%=`Sorry, ${data.searchbar} is not found.` %> </p>
    <% } %>
